body {
    font-family: arial;
    margin: 0;
    padding: 0;
    min-width: 1000px;
    min-height: 100vh;
}

nav {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

img {
    padding-top: 100px;
    height: 92px;
    width: 272px;
    display: block;
}


nav a {
    padding-left: 15px;
    text-decoration: none;
    font-size: 13px;
    color: #000000B0
}

nav a:hover {
    text-decoration: underline;
}

.nav-right {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    width: 200px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main p {
    font-size: 13px;
}

.main a {
    text-decoration: none;
}

.main a:visited {
    color: #609;
}

#search-bar {
    display: inline-block;
    width: 380px;
    height: 40px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin-top: 35px;
    padding: 0 50px;
    font-size: 16px;
    color: rgba(0,0,0,.87);
}

input[type="submit"] {
    -webkit-appearance: none;
    display: inline;
    margin: 0 5px;
    padding: 10px 15px;
    font-family: arial;
    font-size: 14px;
    background-color: #f2f2f2;
    color: #5f6368;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
}

input[type="submit"]:hover {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 1px 1px 0px rgba(32,33,36,0.10);
    border: 1px solid #c7c6c6;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0px rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#search-bar:focus {
    outline: none;
    box-shadow: 0 1px 6px 0px rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 100%;
}

footer div {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    padding-right: 25px;
}

footer div p {
    margin: 0;
    padding-left: 25px;
    font-size: 15px;
    color: #00000088;
}

footer div a {
    padding-left: 25px;
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
}

footer div a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.form-submit {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.fa-search {
    position: relative;
    color: #9AA0A6;
    left: 40px;
}

.fa-microphone {
    position: relative;
    color: #4285f4;
    right: 40px;
}

#selector {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.fa-th {
    font-size: 18px;
    color: #000000B0;
}

nav a .fa-th:hover {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.account-icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #00579b;
    border-radius: 50%;
}

.account-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
}